@font-face {
    font-family: "Title";
    src: url("fonts/OpenSansCondensed-Light.ttf");
}

@font-face {
    font-family: "Main";
    src: url("fonts/Nunito-Light.ttf");
}

@font-face {
    font-family: "Input";
    src: url("fonts/Nunito-Regular.ttf");
}

body {
    --color: #4faace;
    --color-dark: #3a4b81;
    --dark: #333;
    background-color: var(--dark);
    color: white;
    font-family: "Main";
    font-size: 13pt;
    font-weight: lighter;
    padding: 0 60px;
}

h1 {
    font-family: "Title";
    font-size: 30pt;
    color: var(--color);
    margin: 30px 0;
}

h2 {
    font-family: "Title";
    font-size: 21pt;
    color: var(--color);
}

button, input, table {
    box-shadow: 0 0 5px #0007;
    margin: 3px;
}

button, input[type=submit] {
    background-color: var(--color);
    color: var(--dark);
    border: none;
    border-radius: 5px;
    font-family: inherit;
    padding: 4px 8px;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
}

button:hover, input[type=submit]:hover {
    background-color: var(--color-dark);
    color: white;
}

span {
    display: flex;
    align-items: center;
    max-width: calc(90% - 50px);
    margin: 5px;
}

div.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidebar .filler {
    height: 100%;
    background-color: var(--color);
    position: relative;
    z-index: 1;
}

#sidebar.open > .handle {
    right: 0;
}

.handle {
    position: absolute;
    width: 25px;
    height: 100%;
    top: 0;
    right: -25px;
    background-color: #fffa;
    transition: inherit;
    transition-delay: 0.25s;
    z-index: 1;
}

.handle > img {
    position: absolute;
    top: calc(50% - 15px);
    height: 25px;
}

#sidebar {
    position: fixed;
    z-index: 5;
    display: flex;
    flex-direction: column;
    background-color: var(--color);
    left: -300px;
    width: 300px;
    height: 100%;
    top: 0;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    box-shadow: 0 0 10px #000a;
}

#sidebar.open {
    left: 0;
}

#sidebar > a {
    display: flex;
    color: var(--color-dark);
    background-color: var(--color);
    height: min-content;
    width: 100%;
    transition-duration: 0.3s;
    box-shadow: 0 4px 8px -2px #0005;
    position: relative;
}

#sidebar > a:hover {
    color: white;
    background-color: var(--color-dark);
}

#sidebar h3 {
    margin: 8px;
    margin-left: 20px;
    transition: inherit;
}
#sidebar > a:hover > h3 {
    margin-left: 25px;
}

a {
    color: white;
}

#sidebar a {
    text-decoration: none;
}

table {
    border: 1px solid white;
    border-collapse: collapse;
}

table.invisible {
    border: none;
    box-shadow: none;
}

table td, table th {
    border: 1px solid white;
}

table.invisible td, table.invisible th {
    border: none;
}

td, th {
    padding: 2px 5px;
    text-align: left;
    color: white;
}

input {
    border: none;
    border-radius: 2px;
    color: black;
    background-color: white;
    font-family: "Input";
    font-size: 11pt;
    padding: 3px 6px;
}

li.bad {
    color: #be4c4c;
}

li.good {
    color: #88fd8e;
}